extends layout

block content
    if (addNumberIsSuccessful === true)
        div(class="text-success") Your number has been added successfully!

    div(class="row",style="margin: 20px")
        p Get a text message whenever there are any new Boil Water Orders for Alberta
        form(action="/add",method="post",class="form form-inline")
            input(style="margin-right: 15px",name="number",placeholder="403-111-2233")
            button(class="btn btn-info")
                i(class="icon-ok", style="padding-right: 8px")
                | Submit

        p If you want to stop receiving notifications, simply text&nbsp;
            strong STOP&nbsp;
            | to&nbsp;
            strong
                =twiloFromNumber

    div
        small Updates every&nbsp;
            =scrapeInterval
            | &nbsp;minutes using data from&nbsp
            a(href=scrapedFromUrl) albertahealthservices.ca
    div
        small(id="last-updated") Last Updated:&nbsp;
            span(id="last-updated-time")
