doctype 5
html
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css", rel="stylesheet")
    link(href="//netdna.bootstrapcdn.com/font-awesome/3.2.0/css/font-awesome.css", rel="stylesheet")
    link(rel='stylesheet', href='/css/style.css')
  body
    div(class="container",style="text-align: center")
        h1= title

        block content

        div(style="position: absolute; left: 46%; bottom: 20px;")
            div
                small Written by
                    a(href="http://twitter.com/taeram",target="_blank")&nbsp;
                        span(class="icon-twitter")
                        | &nbsp;taeram

            div
                small Source available on
                    a(href="http://github.com/taeram/yyc-water",target="_blank")&nbsp;
                        span(class="icon-github")
                        | &nbsp;GitHub

    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
    script(src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js")
    script(src="/js/script.js")
